body {
    font-family: Arial, sans-serif;
    margin: 25px;
    background-color: #e02189;
}

/*
darker = e02189
more light = e94196
*/

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr {
    background-color: rgba(255,182,193,1);
}

a {
    color: #000000;
    text-decoration: none;
}

/*
tr:nth-child(even) {
    background-color: #f9f9f9;
}
*/

/*
a {
    color: #0066cc;
    text-decoration: none;
}
*/

a:hover {
    text-decoration: underline;
}

#hello_note {
    padding: 5px;
    text-align: center;
}

#update_header {
    padding-bottom: 5px;
    text-align: right;
}
